/* Sonoma State Department Banner Style Sheet */
/* Last Updated August 4th, 2011 */

/****************************************************/
/* THIS CSS FILE IS NOT TO BE EDITED FOR ANY REASON */
/****************************************************/

body {background: #e2e2e2 url(/images/global/bg-banner.jpg) repeat-x !important;}
#banner {font: 12px Arial, Helvetica, sans-serif;padding: 7px 0 4px 0;}

/* Banner Feature called on separate stylesheet */

#main-content {border-top: 3px solid #486598;}
