<!DOCTYPE HTML>
<html>
<head>
    <title>Simple NodeJS Application</title>
</head>
<body>
<header>
    <h1>Simple NodeJS Application</h1>
    <h2><%= locals.settings.subtitle %></h2>
</header>
<div id="content">